*{
	margin: 0px;
	padding: 0px;
}
.header{
	width: 100%;
	height: 50px;
	background: #2874f0;

}
.a{
	width: 92px;
    height: 25px;
    margin-left: 192px;
    margin-top: 10px;
}
.b{
	width: 74px;
	height: 86px;
	/*border:2px solid;*/
	float: left;
	margin-top: 20px;
    margin-left: 67px;
}
.c{
    width: 100%;
    height: 67px;
    margin-top: -6px;
}
.d{
    text-align: center;
    font-family: sans-serif;
}
.z{
	margin-left: 60px;
}.e{
	
    width: 1518px;
    margin-top: 30px;
}
.search-box{
    margin-top: -27px;
    margin-left: 293px;
}
.search-txt{


}
.search-btn{

}
.f{
	border:2px solid;
	width: 100%;
	height: 250px;
	margin-top: 34px;
}
.g{
	border:2px solid;
	width: 151px;
	height: 179px;
	float: left;
	margin-top: 38px;
    margin-left: 46px;
}
.h{
	border:2px solid;
	height: 240px;
	width: 464px;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}
.j{
	text-align: center;
}
.k{
	border:2px solid;
	width: 100%;
	height: 1500px;
	background-color: #ffffff;
	margin-top: 282px;
}

